@font-face {
    font-family: 'Old English Text MT';
    src: local('Old English Text MT'), url('/fonts/7413-fontps.ttf') format('ttf');
}

@font-face {
    font-family: 'Tw Cen MT Condensend Extra Bold';
    src: local('Tw Cen MT Condensend Extra Bold'), url('/fonts/TCCEB.TTF') format('ttf');

}