body {
    background-color: $black-color !important;
    font-family: "Old English Text MT", sans-serif !important;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

}

.stopwatch {
    background-color: $dark-brown-color;
    box-shadow: 0 0 12px $white-color;
    border-radius: 5px;
}

.flip-rotate {
    transform: scale(-1) scaleY(-1);
}

.img-animation {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.hours,
.minutes,
.second {
    font-size: 135px;
}

.hours {
    color: $green-color;
}

.minutes {
    color: $purple-color;

}

.second {
    color: $blue-color;
}

.double-dots {
    color: $yellow-color;
    font-size: 100px;
    font-weight: 700;
}

.h_m_s {
    font-size: 35px;
    color: $white-color;
    position: relative;
    top: -25px;
    font-family: "Tw Cen MT Condensend Extra Bold", sans-serif !important;
    font-weight: 900;
}

.hundredth {
    font-size: 60px;
    color: $white-color;
    transform: translateY(-30%);

}

.left-btn {
    transform: translateX(-100%);
    font-family: "Tw Cen MT Condensend Extra Bold", sans-serif !important;
    font-weight: 900 !important;
    border: 2px solid $yellow-color !important;
    background-color: $black-color !important;
    width: 10rem;

    &:hover {
        color: $blue-color !important;
    }
}

.right-btn {
    transform: translateX(100%);
    font-family: "Tw Cen MT Condensend Extra Bold", sans-serif !important;
    font-weight: 900 !important;
    border: 2px solid $yellow-color !important;
    background-color: $black-color !important;
    width: 10rem;

    &:hover {
        color: $blue-color !important;
    }
}



hr {
    background-color: $white-color;
}