// -----------MAIN-COLOR----------------

$green-color:rgb(4, 180, 4);
$red-color: rgb(255, 0, 0);
$yellow-color:rgb(255, 255, 0);
$gray-color: rgb(207, 206, 206);
$dark-blue:rgb(2, 2, 100) !important;
$light-blue: rgb(0, 180, 255);
$dark-purple:rgb(100, 0, 140) !important;
$white-color:rgb(255, 255, 255);
$black-color:rgb(0, 0, 0) !important;

// -----------END-MAIN-COLOR-------------


// ----------------FONT------------------

$main-font:'Ballet',
cursive !important;
$other-font: 'Poppins',
sans-serif !important;

// --------------END FONT----------------